
.slide--right {
    &-enter-active,
    &-leave-active, {
        transition-duration: .5s;
        transition-property: height, opacity, transform;
        transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
        overflow: hidden;
    }

    &-enter {
        opacity: 0;
        transform: translate(100vw, 0);
    }

    &-leave-active,{
        opacity: 0;
        transform: translate(-100vw, 0);
    }
}

.zoom {
    &-enter-active,
    &-leave-active {
        transition-duration: .5s;
        transition-property: height, opacity, transform, scale;
        transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
        overflow: hidden;
    }

    &-enter {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    &-leave-active,{
        opacity: 0;
    }
}

.fade {
    &-enter-active,
    &-leave-active, {
        transition-duration: .5s;
        transition-property: height, opacity, transform;
        transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
        overflow: hidden;
    }

    &-enter {
        opacity: 0;
    }

    &-leave-active,{
        opacity: 0;
    }
}