
/*     VARIABLES      */
/* ------------------ */
$color-title-h1: rgb(0, 172, 219);

$color-primary: rgb(0, 133, 171);
$color-primary-light: rgb(0, 172, 219);
$color-primary-dark: rgb(0, 108, 138);
$color-primary-clear: rgb(76, 89, 211);
$color-primary-dim: rgb(66, 70, 71);

$color-secondary: rgb(73, 156, 63);
$color-secondary-light: rgb(91, 196, 79);
$color-secondary-dark: rgb(62, 134, 54);
$color-secondary-clear: rgb(79, 184, 67);
$color-secondary-dim: rgb(100, 161, 93);

$color-tertiary: rgb(203,65,84);
$color-tertiary-light: rgb(203,65,84);
$color-tertiary-dark: rgb(203,65,84);

$color-header: #000;
$color-background-nav: rgba(255, 255, 255,1);
$color-background-1: rgb(37,184,227);
$color-footer-top: rgb(235, 251, 255);
$color-footer-bottom: rgb(0, 133, 171);

$color-white: #fff;
$color-offwhite: rgb(240, 240, 240);
$color-black: rgb(0, 0, 0);
$color-grey-dark: #3f3f3f;
$color-grey-light: #a7a7a7;

$color-text-dark: #3f3f3f;
$color-text-light: rgb(255, 255, 255);

$color-shadow: rgba($color-black, 0.2);

$color-transparent: rgba(255,255,255,0);
$color-shine: rgba(255,255,255,.2);

$color-warnings-good: rgb(23, 173, 20);
$color-warnings-bad: rgb(175, 55, 39);
$color-products-border: rgba(black, 0);

$color-background-loading: rgb(0, 133, 171);
/* ------------------ */